@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
    --neutral-1: #0D0a0F;
}


body {
    font-family: "Manrope", sans-serif;
}

a{
    color: var(--neutral-1);
    font-weight: 500;
    font-size: 20px;
}
